<div class="modal" id="contact-modal">
    <div class="modal__content modal__content--contact">
        <button class="modal__close" type="button">
            <img src="assets/images/modal1.svg" alt="закрыть">
        </button>
        <form class="form" action="/" method="POST">
            <div class="form__group form__group--md">
                <input class="form__control" type="text" placeholder="ваше имя">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <input class="form__control" type="email" placeholder="е-mail">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <textarea class="form__control form__control--textarea" placeholder="текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>
            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button class="btn btn--blue btn--rounded btn--sm" type="submit">отправить</button>
                </div>
            </div>
        </form>
        <ul class="modal__footer">
            <li>
                e-mail: <a href="mailto:chornochokov@gmail.com">chornochokov@gmail.com </a>
            </li>
            <li>
                тел: <a href="+380663640778">+38 066-364-07-78</a>
            </li>
        </ul>
    </div>
    <!--./modal__content-->
</div>
<!--./modal-->